.bg-light {
  --bs-bg-opacity: 1;
    background-color: rgb(148, 148, 148) !important;
}
.dropdown-menu {
    display: block !important; /* Временно для теста */
    opacity: 1 !important;
    visibility: visible !important;
}